<!DOCTYPE html>
<html>
<head>
    <title></title>
   <script src="/js/jq.js"></script>
</head>
<style>
	body{
		background: black;
	}
	.tip{
		color: white;
		width: 200px;
		height: 100px;
		line-height: 100px;
		font-size: 20px;
		text-align: center;
	}
</style>
<body>
	<div class="tip">添加成功</div>
</body>
<script>
	setTimeout(function(){
		window.location.href="houtai";
	},2000)
</script>
</html>