<div class="b-footer">
  <div class="navigation">
    <img src="/img/logobo.png" />
    <dl>
      <dt>Add：</dt>
      <dd>
        <p>Kaijia Building, Qiaoxi Zone, Shijiazhuang City, Hebei, China.</p>
      </dd>
      <dt>Email：</dt>
      <dd>
        <p>liulijie@rayvet.cn</p>
      </dd>
      <dt>Tel：</dt>
      <dd>+86 15130058651</dd>
    </dl>
  </div>
  <div class="navigation1">
    <h3>About Us</h3>
    <ul>
      <li><a href="/">MAIN</a></li>
      <li><a href="/product">PRODUCTS</a></li>
      <li><a href="/service">SERVICE</a></li>
      <li><a href="/partener">PARTENER</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
  <div class="navigation2">
    <h3>Veterinary</h3>
    <ul>
      <li>Imaging Products Solution</li>
      <li>Anesthesia Solution</li>
      <li>Laboratory Product</li>
      <li>Surgical Equipment</li>
      <li>Veterinary Consumables</li>
    </ul>
  </div>
  <div class="navigation3">
    <h3>Connect with Ruige:</h3>
    <span>
      <p>Kaijia Building,Qiaoxi Zone, Shijiazhuang City, Hebei, China.</p>
    </span>
  </div>
</div>
