<div class="b-footer">
	            <div class="navigation">
	            	<img src="/img/logobo.png" />
	            </div>
				<div class="navigation1">
					<ul>
						<li><a href="/">MAIN</a></li>
						<li><a href="/product">PRODUCTS</a></li>
						<li><a href="/service">SERVICE</a></li>
						<li><a href="/partener">PARTENER</a></li>
						<li><a href="/contact">CONTACT</a></li>
					</ul>
				</div>
				<div class="navigation2">
					<dl>
						<dt>Email:</dt>
						<dd> 
						<p>admin@rayvet.cn </p> 
						<p>liulijie@rayvet.cn</p>
						<p>support@rayvet.cn</p>
						</dd>
						<dt>Tel:</dt>
						<dd>0311-67590169</dd>
					</dl>
				</div>
				<div class="navigation3">
					<span>
						<h1>ADDRESS:</h1>
						<p>Building B, Zhongchu Square, Xinhua Strict, Shijiazhuang, Hebei, China.</p>
					</span>
				</div>
</div>