<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Ruige International Trading Co.veterinary medical products </title>
		<meta name="keywords" content="Ruige, medical, veterinary, x ray, pet medical, ultrasound, inspection machine, anaesthesia machine, ICU, vet machine, veterinary x ray machine, veterinary ultrasound, veterinary CT, veterinary MRI." />
		<meta name="description" content="veterinary medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine, veterinary ICU" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/resect.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/product.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/product.js" ></script>
	</head>
	<body>
		<%- include('head') %>
		<div class="warp">
			    <div class="mainproduct">
			    	
			    </div>
			</div>
			
		<%- include('foot') %>
	</body>
</html>
