<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Ruige International Trading Co.veterinary medical products </title>
		<meta name="keywords" content="Ruige, medical, veterinary, x ray, pet medical, ultrasound, inspection machine, anaesthesia machine, ICU, vet machine, veterinary x ray machine, veterinary ultrasound, veterinary CT, veterinary MRI." />
		<meta name="description" content="veterinary medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine, veterinary ICU" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/resect.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/newproduct.css" />
		<script src="/js/jq.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/product.js" ></script>
    </head>
    <style>
    .newproduct{
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        margin-top: 80px;
    }
    .newproduct::after{
        content: '';
        clear: both;
        display: block;
    }
    .new_lefttab{
        width: 15%;
        float: left;
    }
    .new_lefttab h1{
        font-size: 1.5rem;
    }
    .new_lefttab>ul{
        overflow: visable;
        margin-top: 1rem;
    }
    .new_lefttab>ul>li{
        width: 100%;
        overflow: visable;
        position: relative;
        line-height: 2rem;
        border-bottom:1px solid #ddd; 
        text-align: center;
        cursor: pointer;
    }
    .new_lefttab>ul>li:hover{
        background: #ddd;
    }
    .new_havechild>.new_child_container{
        position: absolute;
        left: 100%;
        width: 10rem;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 2px 1px  #ddd;
        padding: 3px;
        top: 1px;
        display: none;
    }
    .new_havechild>.new_child_container>ul{
        background: white;
    }
    .new_havechild>.new_child_container>ul>li{
        margin: 0;
        background: white;
        cursor: pointer;
    }
    .new_havechild>.new_child_container>ul>li:hover{
        background: #dddddd;
        cursor: pointer;
    }
    .new_righttab{
        width: 83%;
        margin-left: 2%;
        float: left;
    }
    </style>
	<body>
		<div class="warp">
			    <div class="newproduct">
                    <div class="new_lefttab">
                        <h1>Product Categories</h1>
                        <ul>
                            <% for(var i=0;i<productdata.length;i++){ %> 
                                    <% if(productdata[i].children.length==0){ %>
                                        <li><%=productdata[i].name%></li>
                                    <%}%>

                                    <%if(productdata[i].children.length>0){%>
                                        <li class="new_havechild">
                                            <%=productdata[i].name%>
                                            <div class="new_child_container">
                                                <ul>
                                                    <%for(var j=0;j<productdata.length;j++){ %>
                                                        <li><%= productdata[i][j].detail %></li>
                                                    <%}%>
                                                </ul>
                                            </div>
                                        </li>
                                    <%}%>
                            <% } %>
                        </ul>
                    </div>
                    <div class="new_righttab">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
			    </div>
			</div>
			
		<%- include('foot') %>
    </body>
    <script>
    $(".new_havechild").hover(function(){
        $(this).find(".new_child_container").show()
    },
    function(){
        $(this).find(".new_child_container").hide()
    })
    </script>
</html>
