<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Ruige International Trading Co., Ltd. </title>
		<meta name="keywords" content="Ruige, medical, veterinary, x ray, pet medical, ultrasound, inspection machine, anaesthesia machine, ICU, vet machine, veterinary x ray machine, veterinary ultrasound, veterinary CT, veterinary MRI." />
		<meta name="description" content="RUIGE is a very professional company with veterinary medical products all around the world. We offer wide range of medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine, veterinary ICU and so on,based on Chinese Market, provide service for global users, RUIGE’s products have been widely applied in many countries,and always committed to become the world's leading provider of veterinary clinical and medical experiments solutions." />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/resect.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<script type="text/javascript" src="/js/public.js"></script>
		<script type="text/javascript" src="/js/main.js" ></script>
	</head>
	<body>
		<div class="warp">
			<%- include('head') %>
					<div class="h-content">
					  <div class="in-warp">
						<h1>Ruige</h1>
						<span>Based on Chinese Market, provide service for global users, RUIGE’s products have been widely applied in many countries,and always committed to become the world's leading provider of veterinary clinical and medical experiments solutions.</span>
					  </div>
					</div>
			<div class="content">
				<div class="aboutus">
					<h1>ABOUT US</h1>
					<span>Years’experience with veterinary medical equipments. And many professional technicians and after-sales service engineers. </span>
					<ul>
						<li>
						<h1 class="culture">
							<img style="width: 20px; height:20px; margin-top: 2.5px;" src="../img/plus.jpg" alt="about"/>
							<p>Value</p></h1>
						<span>
							<p>Quality</p>
							<p>Faith</p>
							<p>Responsibility</p>
						</span>
						</li>
						<li>
						<h1 class="culture">
							<img style="width: 20px; height:20px; margin-top: 2.5px;" src="../img/plus.jpg" alt="about" />
							<p>Vison</p></h1>
						<span>
							Being core strength for improving life quality
							Being core strength for improving life quality
						</span>
						</li>
						<li>
						<h1 class="culture">
							<img style="width: 20px; height:20px; margin-top: 2.5px;" src="../img/plus.jpg" alt="about"  />
							<p>Mission</p></h1>
						<span>
							Provide best solution for medical research and clinical applications.
							Being core strength for improving life quality
							</span>
						</li>
						<li>
						<h1 class="culture">
							<img style="width: 20px; height:20px; margin-top: 2.5px;" src="../img/plus.jpg" alt="about"  />
							<p>Advantage</p></h1>
						<span>
							Provide comprehensive and high quality solution for users. 
							Being core strength for improving life quality
						</span>
						</li>
					</ul>
				</div>
				<div class="middlecontent">
					<div class="middle-left">
						<h1>SINCE 2000</h1>
						<span>
We started to be <i>manufacturer</i> of different kinds of <i>imaging machine</i>, and begin our business with <i>veterinary hospitals</i> and <i>different distributors</i>. until now, we extend our products to <i>laboratory equipment</i>, <i>anesthesia machine</i>, <i>endscopy</i> etc .
						</span>
					</div>
					<div class="middle-right"></div>
				</div>
			    <div class="product">
			    	<h1>OUR PRODUCTS</h1>
					<span>Professional with veterinary medical equipments</span>
					<div class="spread2">
			        		<div class="line"></div>
			        	</div>
			        <ul>
			        	<li>X ray</li>
			        	<li>Ultrasound</li>
			        	<li>Inspection</li>
			        	<li>Anesthesia</li>
			        </ul>
			        <div class="c-content" style="display: block;">
			        	<div class="c-c-warp">
			        	<div class="c-image" style="background: url(img/test11.png); background-size:100% 100% ;"></div>
			        	<div class="c-c-des">
			        		<h1>High frequency x ray machine</h1>
			        		<span><ul>
			        			<li>20kw/200ma, 32kw/400ma high frequency high voltage generator.</li>
			        			<li>lTouch screen to set parameters.</li>
			        			<li>lX ray table possible to float four directions.</li>
			        			<li>lEasy to install. Little space occupation.</li>
			        			<li>lExcellent image quality. wide range of clinical application.</li>
			        		</ul>
                            </span>
			        		<a href="product">VIEW MORE</a>
			        	</div>
			        	</div>
			        	<div class="c-c-warp">
			        	<div class="c-image" style="background: url(img/test44.jpg); background-size:100% 100% ;"></div>
			        	<div class="c-c-des">
			        		<h1>Ultrasound machine</h1>
			        		<span><ul>
			        			<li>Superior image performance and diverse applications.</li>
			        			<li>Advanced imaging technology and ergonomic design.</li>
			        			<li>Applicable to scan different animals such as farm animals, pets, etc.</li>
			        			<li>Applicable to scan equine, bovine, ovine, swine, feline, etc.</li>
			        			<li>Powerful measurement software can provide comprehensive diagnostic bases. </li>
			        		    <li>Compact size and light weight.</li>
			        		    <li>Possible to perform anywhere, anytime.</li>
			        		</ul></span>
			        		<a href="product">VIEW MORE</a>
			        	</div>
			        	</div>
			        	<div class="c-c-warp">
			        	<div class="c-image" style="background: url(img/test33.jpg); background-size:100% 100% ;"></div>
			        	<div class="c-c-des">
			        		<h1>Laboratory</h1>
			        		<span><ul>
			        			<li>Testing mode：Automatic test begin as soon as cup was placed into inspection hole.</li>
			        			<li>Testing operation：Touch screen operation，automatic blending，automatic interpretation of blank and cauculate result.</li>
			        			<li>Sample type：whole blood，serum，plasma，urine etc, The sample dilution multiple can be input and result can be conversed automatically.</li>
			        			<li>Project selection：non-contact RF reagent card, card only need to be read once with same project.</li>
			        			<li>HCT calibration，each whole blood sample ‘HCT can be calibrated automatically，accord with serum. </li>
			        			<li>Result output：display on same screen, can be printed on computer.</li>
			        		</ul></span>
			        		<a href="product">VIEW MORE</a>
			        	</div>
			        	</div>
			        	<div class="c-c-warp">
			        	<div class="c-image" style="background: url(img/test22.jpg); background-size:100% 100% ;"></div>
			        	<div class="c-c-des">
			        		<h1>Anesthesia</h1>
			        		<span><ul>
			        			<li>Fast oxygenation function for rescue during operation.</li>
			        			<li> APL pressure system avoiding pressure damage to animals, ranging from -20 - +120 cmH2O. </li>
			        			<li>CO2 absorption canister (1100ml) installed in the front is easy to observe. Fast disassembly device is convenient for replenishment of soda lime.</li>
			        			<li> Coiled pipeline design inside the vaporizer, ensuring that gas discharge will not be influenced by pressure fluctuation. </li>
			        			<li>Stable discharge of anesthetic with excellent leakproofness, not influenced by fluctuation of temperature, flux, flow rate and pressure. </li>
			        			<li>Vaporizer can stand pressure of 50 KPa at 15-35℃. </li>
			        			<li> Adjustable range: 0-5% (Isoflurane), 0-8% (Sevoflurane). </li>
			        		</ul></span>
			        		<a href="product">VIEW MORE</a>
			        	</div>
			        	</div>
			        </div>
			    </div>
			    <div class="mainproduct">
			    	<img src="img/leftswipt.jpg" alt="turnleft" />
			    	<div>
			    		<div class="b-content">
			    			<ul>
			    				<li>
			    					<h1>Welcome to Ruige</h1>
			    		<p>We are very pleased to introduce ourselves as very professional company with veterinary medical products all around the world. We offer wide range medical products including veterinary x ray machine, DR, ultrasound, Anesthesia machine, inspection machine and so on. </p>
			    	
			    				</li>
			    				<li>
			    					<h1>Reliable Partner</h1>
			    		<p> Reliable partner for your business with OEM/ODM services,Contributes to the world by providing high quality veterinary medical products to the hospitals and enhancing competitive advantage for business partners.
</p>
			    	
			    				</li>
			    				<li>
			    					<h1>Keep Innovation</h1>
			    		<p>Our quality products are principally based on our continued innovation. We have invested large portion of sales profits to R&D section and committed to provide high level of veterinary medical technology. 
</p>
			    	
			    				</li>
			    			</ul>
			    		</div>
			    	</div>
			    	<img src="img/rightswipt.jpg" alt="turnright" />
			    </div>
			</div>
			<%- include('foot') %>
		</div>
	</body>
</html>
